<%= render 'shared/search' %>
<% search_count = @search_results.to_a.count  %>				
<% full_count = Post.all.to_a.count %>
<div id="counter"><%= full_count %> posts 
	<%= "(#{search_count} match)" unless search_count==full_count %> </div>
<% if @all_posts.any? %>	
	<%= render 'shared/paginate', pad: pagination_pad %>		
	<div class="posts navbar">
		<ul class="nav" >
			<%= render partial: 'stream_item', collection: @posts %>		
		</ul>		
	</div>	
<% else %>
	no posts at this time
<% end %>