<section>
	<div class="row">
		<table>
			<tr>
				<th>
					<p id='search_title'><%= search_title %></p>
				</th>
				<% unless @location.blank? %>
					<th>
						<p id='local_title'>Local posts from <%= @location %></p>
					</th>				
				<% end %>
			</tr>
			<tr>
				<td id="search_stream">
					<ul>
						<% if @posts.to_a.any? %>
							<%= render partial: 'tile', collection: @posts, locals: {name: 'search'} %>
						<% else %>
							no posts at this time
						<% end %>
					</ul>						
				</td>
				<% unless @location.blank? %>
				<td id="local_stream">
					<ul>
						<% if @local_posts.to_a.any? %>
							<%= render partial: 'tile', collection: @local_posts, locals: {name: 'local'} %>
						<% else %>
							no local posts at this time for <%= @location %>
						<% end %>
					</ul>
				</td>
				<% end %>
			</tr>
			<tr>
				<td>
					<table class="full">
						<tr>
							<td class="center up" id="search_paginate">
								<%=  render 'shared/paginate', pad: 2, collection: @posts, id: 'search' %>			
							</td>
							<td class="right" id="search_panel">
								<%= render 'shared/search_fields' %>
							</td>
						</tr>
					</table>
				</td>
				<% unless @location.nil? %>
					<td class="center up" id="search_paginate">
						<%= render 'shared/paginate', pad: 2, collection: @local_posts, id: 'local' unless @local_posts.nil? %>
					</td>				
				<% end %>
			</tr>			
		</table>
	</div>
</section>